@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding-top: 25px;

  .header {
    @include m.flex;
    position: relative;
    padding: 0 60px;

    .title {
      @include m.fontTitle4(semibold);
      @include m.makeEllipsis;
      flex: 1;
      color: var(--c-text-main);
      text-align: center;
    }

    .plusButton {
      @include m.absolute(50% 20px auto auto);
      @include m.flex;
      width: 24px;
      height: 24px;
      transform: translateY(-50%);
    }
  }
}
