@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 20px 20px 0;

  .list {
    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;

    .item {
      @include m.flex(space-between);
      width: 100%;
      padding: 20px 0;

      .info {
        @include m.flex(flex-start);

        .color {
          width: 56px;
          height: 56px;
          margin-right: 8px;
          border-radius: 8px;
        }

        .name {
          @include m.fontBody1(medium);
          margin-right: 4px;
          color: var(--c-text-main);
        }

        .count {
          @include m.fontButton1(regular);
          color: var(--c-text-sub);
        }
      }

      .bookmarkButton {
        cursor: pointer;

        .icon path {
          stroke: var(--c-text-disabled);
        }

        &:has(input:checked) {
          .icon path {
            fill: var(--c-brand-primary);
            stroke: var(--c-brand-primary);
          }
        }
      }

      & + .item {
        margin-top: 10px;
      }
    }
  }

  .buttonWrapper {
    padding: 8px 0;
  }
}
