@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding-top: calc(c.$S_PAGE_VERTICAL_PADDING + c.$S_GNB_HEIGHT);
  padding-bottom: calc(c.$S_PAGE_VERTICAL_PADDING + c.$S_BOTTOM_NAVIGATION_HEIGHT);

  .top {
    @include m.flex(flex-start, center, column);
    gap: 16px;
    width: 100%;
    padding: 0 c.$S_PAGE_HORIZONTAL_PADDING c.$S_PAGE_VERTICAL_PADDING;
    margin-bottom: 32px;
    border-bottom: 6px solid var(--c-divider-sub);
  }

  .requireAuthorizationWrapper {
    width: 100%;
  }
}
