@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding: 20px 20px 0;

  .content {
    padding-bottom: 20px;
  }

  .buttonWrapper {
    padding: 8px 0;
  }
}
