@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  @include m.flex(flex-start, flex-start, column);
  gap: 8px;

  .input {
    width: 100%;
    color: var (--c-text-main);
    background-color: var(--c-grayscale-white);
    border: 1px solid var(--c-grayscale-gray-300);
    border-radius: 12px;

    &.large {
      @include m.fontButton1(regular);
      padding: 16px 20px;
    }

    &::placeholder {
      color: var(--c-grayscale-gray-500);
    }

    &:hover {
      border-color: var(--c-brand-primary-darken);
    }

    &:focus-visible {
      border-color: var(--c-brand-primary);
    }

    &:active {
      background-color: var(--c-brand-primary-background);
      border-color: var(--c-brand-primary-lighten);
    }

    &:disabled {
      color: var(--c-text-disabled);
      background-color: var(--c-grayscale-gray-50);
      border-color: var(--c-grayscale-gray-300);
    }

    &.error {
      border-color: var(--c-system-danger);
    }
  }

  .errorMessage {
    @include m.fontButton2(regular);
    @include m.makeEllipsis;
    width: 100%;
    color: var(--c-system-danger);
  }
}
