@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

$BACK_BUTTON_SIZE: 32px;

.wrapper {
  width: 100%;
  padding: calc(c.$S_HEADER_HEIGHT + 56px) c.$S_PAGE_HORIZONTAL_PADDING
    calc(c.$S_BOTTOM_FLOATING_BUTTON_WRAPPER_HEIGHT + c.$S_PAGE_VERTICAL_PADDING);

  .header {
    padding-right: calc(20px + $BACK_BUTTON_SIZE);
    padding-left: calc(20px + $BACK_BUTTON_SIZE);

    .backButton {
      @include m.posCenterY;
      @include m.flex;
      left: 20px;
      width: $BACK_BUTTON_SIZE;
      height: $BACK_BUTTON_SIZE;
    }

    .title {
      @include m.makeEllipsis;
      @include m.fontTitle4(semibold);
      width: 100%;
      text-align: center;
    }
  }

  .profileImage {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: var(--c-brand-primary);
    border-radius: c.$R_ROUNDED_FULL;
  }
}
