$S_MAX_WIDTH: 768px;

$S_GNB_HEIGHT: 56px;
$S_HEADER_HEIGHT: $S_GNB_HEIGHT;
$S_BOTTOM_NAVIGATION_HEIGHT: 60px;

$S_PAGE_VERTICAL_PADDING: 24px;
$S_PAGE_HORIZONTAL_PADDING: 20px;

$S_MODAL_WIDTH: 311px;
$S_MODAL_MAX_HEIGHT: 80vh;
