@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  @include m.flex(space-between);
  @include m.fixed(0 auto auto 50%);
  z-index: c.$Z_GNB;
  width: 100%;
  max-width: c.$S_MAX_WIDTH;
  height: c.$S_HEADER_HEIGHT;
  padding: 12px 20px;
  background-color: rgba(0, 0, 0, 20%);
  transform: translateX(-50%);

  .backButton {
    cursor: pointer;

    svg path {
      stroke: var(--c-grayscale-gray-50);
    }
  }

  .title {
    @include m.fontTitle4(semibold);
    @include m.makeEllipsis;
    padding: 0 12px;
    color: var(--c-grayscale-gray-50);
  }

  .reportButton {
    @include m.fontTitle5(medium);
    color: var(--c-grayscale-gray-200);
    white-space: nowrap;
  }
}
