@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  width: 100%;

  .section {
    & + .section {
      border-top: 4px solid #f5f5f5;
    }
  }

  .reviewSection {
    padding: 20px;

    .title {
      @include m.fontTitle5(semibold);
      margin-bottom: 16px;
      color: var(--c-text-main);
    }
  }
}
