@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  @include m.flex(center, center, column);
  gap: 56px;

  .description {
    @include m.fontTitle5(medium);
    color: var(--c-text-main);
    text-align: center;

    .small {
      @include m.fontBody1(regular);
      color: var(--c-text-sub);
    }
  }
}
