@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.createDatePlanButton {
  margin: 20px 0 24px;
}

.wrapper {
  @include m.flex(flex-start, center, column);
  gap: 8px;
  width: 100%;
  padding: 20px 0;

  .loadingContainer {
    display: inline-block;
    width: 100%;
    height: 250px;

    .loading {
      height: 100%;
    }
  }

  .item {
    border: 1px solid var(--c-grayscale-gray-300);
    border-radius: 8px;
  }
}
