@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  @include m.fontButton2(regular);
  padding: 12px 16px;
  color: var(--c-text-main-sub);
  cursor: pointer;
  user-select: none;
  background-color: var(--c-grayscale-white);
  border: 1px solid var(--c-grayscale-gray-300);
  border-radius: 100px;

  &:has(input:checked) {
    color: var(--c-brand-primary);
    background-color: var(--c-brand-primary-background);
    border-color: var(--c-brand-primary);
  }
}
