@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  @include m.fixed(auto auto 0 50%);
  @include m.flex;
  width: 100%;
  max-width: c.$S_MAX_WIDTH;
  height: c.$S_BOTTOM_FLOATING_BUTTON_WRAPPER_HEIGHT;
  padding: 0 20px;
  background-color: var(--c-grayscale-white);
  transform: translateX(-50%);

  &.hasTwoButtons {
    @include m.flex(center, center, column);
    gap: 8px;
    height: c.$S_BOTTOM_FLOATING_TWO_BUTTONS_WRAPPER_HEIGHT;
  }
}
