@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  @include m.flex;
  @include m.fixed(0 auto auto 50%);
  z-index: c.$Z_GNB;
  width: 100%;
  max-width: c.$S_MAX_WIDTH;
  height: c.$S_HEADER_HEIGHT;
  padding: 12px 20px;
  background-color: var(--c-grayscale-white);
  border-bottom: 1px solid var(--c-divider-main-sub);
  transform: translateX(-50%);
}
