@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;
@use "@/shared/ui/styles/libraries" as l;

.wrapper {
  position: relative;
  width: 100%;
  max-height: 500px;
  aspect-ratio: 3 / 4;

  .image {
    object-fit: cover;
  }

  .uploader {
    @include m.flex;
    @include m.absolute(auto auto 16px 20px);
    @include m.fontBody2(regular);
    gap: 12px;
    color: var(--c-grayscale-white);

    .uploaderThumbnail {
      width: 20px;
      height: 20px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .loading {
    height: 100%;
  }
}
