@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  display: flex;
  gap: 8px;
  height: 200px;
  padding: 0 16px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  flex-shrink: 0;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
