@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

$SKIP_BUTTON_SIZE: 40px;

.wrapper {
  width: 100%;

  .main {
    @include m.flex;
    width: 100%;
    height: 100%;
    padding-top: c.$S_HEADER_HEIGHT;

    .header {
      padding-right: calc(20px + $SKIP_BUTTON_SIZE);
      padding-left: calc(20px + $SKIP_BUTTON_SIZE);

      .title {
        @include m.fontTitle4(semibold);
        @include m.makeEllipsis;
        color: var(--c-text-main);
      }

      .skipButton {
        @include m.fontTitle5(medium);
        @include m.posCenterY;
        right: 20px;
        width: $SKIP_BUTTON_SIZE;
        color: var(--c-brand-primary);
      }
    }

    .content {
      @include m.flex(center, center, column);
      gap: 56px;

      .description {
        @include m.fontTitle5(medium);
        color: var(--c-text-main);
        text-align: center;
      }
    }
  }
}
