@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  width: 100%;

  .header {
    @include m.flex;
    position: relative;
    padding: 0 60px;
    border-bottom: 0;

    .backButton {
      @include m.absolute(50% auto auto 20px);
      @include m.flex;
      width: 32px;
      height: 32px;
      cursor: pointer;
      transform: translateY(-50%);
    }

    .title {
      @include m.fontTitle4(semibold);
      @include m.makeEllipsis;
      color: var(--c-text-main);
    }
  }
}
