@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding-top: 12px;
  border-bottom: 1px solid var(--c-divider-main-sub);

  .item {
    @include m.fontBody2(medium);
    padding: 12px 0;
    margin: 0 20px;
    color: var(--c-text-sub);
    text-align: center;
    border-bottom: 2px solid transparent;

    &.active {
      @include m.fontButton2(semibold);
      color: var(--c-text-main);
      border-bottom-color: var(--c-grayscale-gray-950);
    }
  }
}
