@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  width: 100%;
  padding-top: 12px;
  border-bottom: 1px solid var(--c-divider-main-sub);

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    li {
      width: 100%;
      text-align: center;

      .item {
        @include m.fontBody2(medium);
        display: inline-block;
        width: 100%;
        padding: 12px 0;
        margin: 0 20px;
        color: var(--c-text-sub);
        border-bottom: 2px solid transparent;

        &.active {
          @include m.fontButton2(semibold);
          color: var(--c-text-main);
          border-bottom-color: var(--c-grayscale-gray-950);
        }
      }
    }
  }
}
