@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  padding-top: c.$S_GNB_HEIGHT;
  padding-bottom: c.$S_BOTTOM_NAVIGATION_HEIGHT;

  .categoryWrapper {
    @include m.flex;
    width: 100%;
  }
}
