@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
  @include m.fixed(0 0 0 0);
  @include m.flex;
  z-index: c.$Z_MODAL;

  &.enterDone,
  &.exit {
    > .modal {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  &.enter,
  &.exitActive {
    > .modal {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.8);
    }
  }

  .overlay.blockCloseOverlay {
    cursor: default;
  }

  .modal {
    @include m.posCenter;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    transition: all 0.2s;
  }
}
