@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

$CAROUSEL_HEIGHT: 500px;

.wrapper {
  position: relative;
  display: block;
  width: 100%;

  .image {
    width: 100%;
    height: $CAROUSEL_HEIGHT;
    cursor: pointer;
    object-fit: cover;
  }

  .uploader {
    @include m.flex;
    @include m.absolute(auto auto 16px 20px);
    @include m.fontBody2(regular);
    gap: 12px;
    color: var(--c-grayscale-white);

    .uploaderThumbnail {
      width: 20px;
      height: 20px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
