@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;
@use "@/shared/ui/styles/libraries" as l;

.wrapper {
  @include l.applyReactSlick;
  position: relative;
  width: 100%;

  .pages {
    @include m.fontButton3(regular);
    @include m.absolute(auto 20px 16px auto);
    padding: 4px 12px;
    color: var(--c-grayscale-gray-500);
    background-color: var(--c-black-opacity-dim);
    border-radius: 100px;

    .currentPage {
      @include m.fontButton3(semibold);
      color: var(--c-grayscale-gray-50);
    }
  }
}
